# Configs
*/wp-config.php

# Cache
*/wp-content/advanced-cache.php
*/wp-content/cache/

# Logs
*/wp-content/*.log

# Localisations backups
**/**/*.po~
**/**/*.pot~
*/wp-content/languages/*.json
*/wp-content/languages/**/*.json
*/wp-content/languages/**/*backup*

# Enviromental files
.env
.env.local
.env.development
.env.production
**/*/.env.local
**/*/.env.development
**/*/.env.production

# Docker
docker-compose.local.yml

# Scripts
makefile

# Misc
*/.htaccess