/* Version: 2.5.0-beta-1 - Generated 2023-05-10 21:14:44 */
:root {
  --action: #12a2f3;
  --action-hover: #37aff4;
  --action-ultra-light: #e7f5fe;
  --action-light: #b6e2fb;
  --action-medium: #0d9ef2;
  --action-dark: #064f79;
  --action-ultra-dark: #032030;
  --action-comp: #f36412;
  --action-trans-10: rgba(18, 162, 243, 0.1);
  --action-trans-20: rgba(18, 162, 243, 0.2);
  --action-trans-30: rgba(18, 162, 243, 0.3);
  --action-trans-40: rgba(18, 162, 243, 0.4);
  --action-trans-50: rgba(18, 162, 243, 0.5);
  --action-trans-60: rgba(18, 162, 243, 0.6);
  --action-trans-70: rgba(18, 162, 243, 0.7);
  --action-trans-80: rgba(18, 162, 243, 0.8);
  --action-trans-90: rgba(18, 162, 243, 0.9);
  --action-light-trans-10: rgba(182, 226, 251, 0.1);
  --action-light-trans-20: rgba(182, 226, 251, 0.2);
  --action-light-trans-30: rgba(182, 226, 251, 0.3);
  --action-light-trans-40: rgba(182, 226, 251, 0.4);
  --action-light-trans-50: rgba(182, 226, 251, 0.5);
  --action-light-trans-60: rgba(182, 226, 251, 0.6);
  --action-light-trans-70: rgba(182, 226, 251, 0.7);
  --action-light-trans-80: rgba(182, 226, 251, 0.8);
  --action-light-trans-90: rgba(182, 226, 251, 0.9);
  --action-dark-trans-10: rgba(6, 79, 121, 0.1);
  --action-dark-trans-20: rgba(6, 79, 121, 0.2);
  --action-dark-trans-30: rgba(6, 79, 121, 0.3);
  --action-dark-trans-40: rgba(6, 79, 121, 0.4);
  --action-dark-trans-50: rgba(6, 79, 121, 0.5);
  --action-dark-trans-60: rgba(6, 79, 121, 0.6);
  --action-dark-trans-70: rgba(6, 79, 121, 0.7);
  --action-dark-trans-80: rgba(6, 79, 121, 0.8);
  --action-dark-trans-90: rgba(6, 79, 121, 0.9);
  --action-ultra-dark-trans-10: rgba(3, 32, 48, 0.1);
  --action-ultra-dark-trans-20: rgba(3, 32, 48, 0.2);
  --action-ultra-dark-trans-30: rgba(3, 32, 48, 0.3);
  --action-ultra-dark-trans-40: rgba(3, 32, 48, 0.4);
  --action-ultra-dark-trans-50: rgba(3, 32, 48, 0.5);
  --action-ultra-dark-trans-60: rgba(3, 32, 48, 0.6);
  --action-ultra-dark-trans-70: rgba(3, 32, 48, 0.7);
  --action-ultra-dark-trans-80: rgba(3, 32, 48, 0.8);
  --action-ultra-dark-trans-90: rgba(3, 32, 48, 0.9);
  --action-hex: #12a2f3;
  --action-hsl: 202 90% 51%;
  --action-rgb: 18 162 243;
  --action-r: 18;
  --action-g: 162;
  --action-b: 243;
  --action-h: 202;
  --action-s: 90%;
  --action-l: 51%;
  --action-hover-h: 202;
  --action-hover-s: 90%;
  --action-hover-l: 1.15;
  --action-ultra-light-h: 202;
  --action-ultra-light-s: 90%;
  --action-ultra-light-l: 95%;
  --action-light-h: 202;
  --action-light-s: 90%;
  --action-light-l: 85%;
  --action-medium-h: 202;
  --action-medium-s: 90%;
  --action-medium-l: 50%;
  --action-dark-h: 202;
  --action-dark-s: 90%;
  --action-dark-l: 25%;
  --action-ultra-dark-h: 202;
  --action-ultra-dark-s: 90%;
  --action-ultra-dark-l: 10%;
  --action-comp-h: 382;
  --primary: #12a2f3;
  --primary-hover: #37aff4;
  --primary-ultra-light: #e7f5fe;
  --primary-light: #b6e2fb;
  --primary-medium: #0d9ef2;
  --primary-dark: #064f79;
  --primary-ultra-dark: #032030;
  --primary-comp: #f36412;
  --primary-trans-10: rgba(18, 162, 243, 0.1);
  --primary-trans-20: rgba(18, 162, 243, 0.2);
  --primary-trans-30: rgba(18, 162, 243, 0.3);
  --primary-trans-40: rgba(18, 162, 243, 0.4);
  --primary-trans-50: rgba(18, 162, 243, 0.5);
  --primary-trans-60: rgba(18, 162, 243, 0.6);
  --primary-trans-70: rgba(18, 162, 243, 0.7);
  --primary-trans-80: rgba(18, 162, 243, 0.8);
  --primary-trans-90: rgba(18, 162, 243, 0.9);
  --primary-light-trans-10: rgba(182, 226, 251, 0.1);
  --primary-light-trans-20: rgba(182, 226, 251, 0.2);
  --primary-light-trans-30: rgba(182, 226, 251, 0.3);
  --primary-light-trans-40: rgba(182, 226, 251, 0.4);
  --primary-light-trans-50: rgba(182, 226, 251, 0.5);
  --primary-light-trans-60: rgba(182, 226, 251, 0.6);
  --primary-light-trans-70: rgba(182, 226, 251, 0.7);
  --primary-light-trans-80: rgba(182, 226, 251, 0.8);
  --primary-light-trans-90: rgba(182, 226, 251, 0.9);
  --primary-dark-trans-10: rgba(6, 79, 121, 0.1);
  --primary-dark-trans-20: rgba(6, 79, 121, 0.2);
  --primary-dark-trans-30: rgba(6, 79, 121, 0.3);
  --primary-dark-trans-40: rgba(6, 79, 121, 0.4);
  --primary-dark-trans-50: rgba(6, 79, 121, 0.5);
  --primary-dark-trans-60: rgba(6, 79, 121, 0.6);
  --primary-dark-trans-70: rgba(6, 79, 121, 0.7);
  --primary-dark-trans-80: rgba(6, 79, 121, 0.8);
  --primary-dark-trans-90: rgba(6, 79, 121, 0.9);
  --primary-ultra-dark-trans-10: rgba(3, 32, 48, 0.1);
  --primary-ultra-dark-trans-20: rgba(3, 32, 48, 0.2);
  --primary-ultra-dark-trans-30: rgba(3, 32, 48, 0.3);
  --primary-ultra-dark-trans-40: rgba(3, 32, 48, 0.4);
  --primary-ultra-dark-trans-50: rgba(3, 32, 48, 0.5);
  --primary-ultra-dark-trans-60: rgba(3, 32, 48, 0.6);
  --primary-ultra-dark-trans-70: rgba(3, 32, 48, 0.7);
  --primary-ultra-dark-trans-80: rgba(3, 32, 48, 0.8);
  --primary-ultra-dark-trans-90: rgba(3, 32, 48, 0.9);
  --primary-hex: #12a2f3;
  --primary-hsl: 202 90% 51%;
  --primary-rgb: 18 162 243;
  --primary-r: 18;
  --primary-g: 162;
  --primary-b: 243;
  --primary-h: 202;
  --primary-s: 90%;
  --primary-l: 51%;
  --primary-hover-h: 202;
  --primary-hover-s: 90%;
  --primary-hover-l: 1.15;
  --primary-ultra-light-h: 202;
  --primary-ultra-light-s: 90%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 202;
  --primary-light-s: 90%;
  --primary-light-l: 85%;
  --primary-medium-h: 202;
  --primary-medium-s: 90%;
  --primary-medium-l: 50%;
  --primary-dark-h: 202;
  --primary-dark-s: 90%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 202;
  --primary-ultra-dark-s: 90%;
  --primary-ultra-dark-l: 10%;
  --primary-comp-h: 382;
  --secondary: #313a48;
  --secondary-hover: #394354;
  --secondary-ultra-light: #f0f2f5;
  --secondary-light: #d1d7e0;
  --secondary-medium: #677a98;
  --secondary-dark: #29313d;
  --secondary-ultra-dark: #15181e;
  --secondary-comp: #494032;
  --secondary-trans-10: rgba(49, 58, 72, 0.1);
  --secondary-trans-20: rgba(49, 58, 72, 0.2);
  --secondary-trans-30: rgba(49, 58, 72, 0.3);
  --secondary-trans-40: rgba(49, 58, 72, 0.4);
  --secondary-trans-50: rgba(49, 58, 72, 0.5);
  --secondary-trans-60: rgba(49, 58, 72, 0.6);
  --secondary-trans-70: rgba(49, 58, 72, 0.7);
  --secondary-trans-80: rgba(49, 58, 72, 0.8);
  --secondary-trans-90: rgba(49, 58, 72, 0.9);
  --secondary-light-trans-10: rgba(209, 215, 224, 0.1);
  --secondary-light-trans-20: rgba(209, 215, 224, 0.2);
  --secondary-light-trans-30: rgba(209, 215, 224, 0.3);
  --secondary-light-trans-40: rgba(209, 215, 224, 0.4);
  --secondary-light-trans-50: rgba(209, 215, 224, 0.5);
  --secondary-light-trans-60: rgba(209, 215, 224, 0.6);
  --secondary-light-trans-70: rgba(209, 215, 224, 0.7);
  --secondary-light-trans-80: rgba(209, 215, 224, 0.8);
  --secondary-light-trans-90: rgba(209, 215, 224, 0.9);
  --secondary-dark-trans-10: rgba(41, 49, 61, 0.1);
  --secondary-dark-trans-20: rgba(41, 49, 61, 0.2);
  --secondary-dark-trans-30: rgba(41, 49, 61, 0.3);
  --secondary-dark-trans-40: rgba(41, 49, 61, 0.4);
  --secondary-dark-trans-50: rgba(41, 49, 61, 0.5);
  --secondary-dark-trans-60: rgba(41, 49, 61, 0.6);
  --secondary-dark-trans-70: rgba(41, 49, 61, 0.7);
  --secondary-dark-trans-80: rgba(41, 49, 61, 0.8);
  --secondary-dark-trans-90: rgba(41, 49, 61, 0.9);
  --secondary-ultra-dark-trans-10: rgba(21, 24, 30, 0.1);
  --secondary-ultra-dark-trans-20: rgba(21, 24, 30, 0.2);
  --secondary-ultra-dark-trans-30: rgba(21, 24, 30, 0.3);
  --secondary-ultra-dark-trans-40: rgba(21, 24, 30, 0.4);
  --secondary-ultra-dark-trans-50: rgba(21, 24, 30, 0.5);
  --secondary-ultra-dark-trans-60: rgba(21, 24, 30, 0.6);
  --secondary-ultra-dark-trans-70: rgba(21, 24, 30, 0.7);
  --secondary-ultra-dark-trans-80: rgba(21, 24, 30, 0.8);
  --secondary-ultra-dark-trans-90: rgba(21, 24, 30, 0.9);
  --secondary-hex: #313a48;
  --secondary-hsl: 217 19% 24%;
  --secondary-rgb: 49 58 72;
  --secondary-r: 49;
  --secondary-g: 58;
  --secondary-b: 72;
  --secondary-h: 217;
  --secondary-s: 19%;
  --secondary-l: 24%;
  --secondary-hover-h: 217;
  --secondary-hover-s: 19%;
  --secondary-hover-l: 1.15;
  --secondary-ultra-light-h: 217;
  --secondary-ultra-light-s: 19%;
  --secondary-ultra-light-l: 95%;
  --secondary-light-h: 217;
  --secondary-light-s: 19%;
  --secondary-light-l: 85%;
  --secondary-medium-h: 217;
  --secondary-medium-s: 19%;
  --secondary-medium-l: 50%;
  --secondary-dark-h: 217;
  --secondary-dark-s: 19%;
  --secondary-dark-l: 20%;
  --secondary-ultra-dark-h: 217;
  --secondary-ultra-dark-s: 19%;
  --secondary-ultra-dark-l: 10%;
  --secondary-comp-h: 397;
  --base: #181b21;
  --base-hover: #1b1f25;
  --base-ultra-light: #f0f2f4;
  --base-light: #d3d7df;
  --base-medium: #6b7994;
  --base-dark: #363c4a;
  --base-ultra-dark: #15181e;
  --base-comp: #211e18;
  --base-trans-10: rgba(24, 27, 33, 0.1);
  --base-trans-20: rgba(24, 27, 33, 0.2);
  --base-trans-30: rgba(24, 27, 33, 0.3);
  --base-trans-40: rgba(24, 27, 33, 0.4);
  --base-trans-50: rgba(24, 27, 33, 0.5);
  --base-trans-60: rgba(24, 27, 33, 0.6);
  --base-trans-70: rgba(24, 27, 33, 0.7);
  --base-trans-80: rgba(24, 27, 33, 0.8);
  --base-trans-90: rgba(24, 27, 33, 0.9);
  --base-light-trans-10: rgba(211, 215, 223, 0.1);
  --base-light-trans-20: rgba(211, 215, 223, 0.2);
  --base-light-trans-30: rgba(211, 215, 223, 0.3);
  --base-light-trans-40: rgba(211, 215, 223, 0.4);
  --base-light-trans-50: rgba(211, 215, 223, 0.5);
  --base-light-trans-60: rgba(211, 215, 223, 0.6);
  --base-light-trans-70: rgba(211, 215, 223, 0.7);
  --base-light-trans-80: rgba(211, 215, 223, 0.8);
  --base-light-trans-90: rgba(211, 215, 223, 0.9);
  --base-dark-trans-10: rgba(54, 60, 74, 0.1);
  --base-dark-trans-20: rgba(54, 60, 74, 0.2);
  --base-dark-trans-30: rgba(54, 60, 74, 0.3);
  --base-dark-trans-40: rgba(54, 60, 74, 0.4);
  --base-dark-trans-50: rgba(54, 60, 74, 0.5);
  --base-dark-trans-60: rgba(54, 60, 74, 0.6);
  --base-dark-trans-70: rgba(54, 60, 74, 0.7);
  --base-dark-trans-80: rgba(54, 60, 74, 0.8);
  --base-dark-trans-90: rgba(54, 60, 74, 0.9);
  --base-ultra-dark-trans-10: rgba(21, 24, 30, 0.1);
  --base-ultra-dark-trans-20: rgba(21, 24, 30, 0.2);
  --base-ultra-dark-trans-30: rgba(21, 24, 30, 0.3);
  --base-ultra-dark-trans-40: rgba(21, 24, 30, 0.4);
  --base-ultra-dark-trans-50: rgba(21, 24, 30, 0.5);
  --base-ultra-dark-trans-60: rgba(21, 24, 30, 0.6);
  --base-ultra-dark-trans-70: rgba(21, 24, 30, 0.7);
  --base-ultra-dark-trans-80: rgba(21, 24, 30, 0.8);
  --base-ultra-dark-trans-90: rgba(21, 24, 30, 0.9);
  --base-hex: #181b21;
  --base-hsl: 220 16% 11%;
  --base-rgb: 24 27 33;
  --base-r: 24;
  --base-g: 27;
  --base-b: 33;
  --base-h: 220;
  --base-s: 16%;
  --base-l: 11%;
  --base-hover-h: 220;
  --base-hover-s: 16%;
  --base-hover-l: 1.15;
  --base-ultra-light-h: 220;
  --base-ultra-light-s: 16%;
  --base-ultra-light-l: 95%;
  --base-light-h: 220;
  --base-light-s: 16%;
  --base-light-l: 85%;
  --base-medium-h: 220;
  --base-medium-s: 16%;
  --base-medium-l: 50%;
  --base-dark-h: 220;
  --base-dark-s: 16%;
  --base-dark-l: 25%;
  --base-ultra-dark-h: 220;
  --base-ultra-dark-s: 16%;
  --base-ultra-dark-l: 10%;
  --base-comp-h: 400;
  --shade: #000000;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-medium: gray;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-30: rgba(0, 0, 0, 0.3);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-50: rgba(0, 0, 0, 0.5);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-70: rgba(0, 0, 0, 0.7);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-30: rgba(217, 217, 217, 0.3);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-50: rgba(217, 217, 217, 0.5);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-70: rgba(217, 217, 217, 0.7);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-dark-trans-10: rgba(64, 64, 64, 0.1);
  --shade-dark-trans-20: rgba(64, 64, 64, 0.2);
  --shade-dark-trans-30: rgba(64, 64, 64, 0.3);
  --shade-dark-trans-40: rgba(64, 64, 64, 0.4);
  --shade-dark-trans-50: rgba(64, 64, 64, 0.5);
  --shade-dark-trans-60: rgba(64, 64, 64, 0.6);
  --shade-dark-trans-70: rgba(64, 64, 64, 0.7);
  --shade-dark-trans-80: rgba(64, 64, 64, 0.8);
  --shade-dark-trans-90: rgba(64, 64, 64, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --shade-hex: #000000;
  --shade-hsl: 0 0% 0%;
  --shade-rgb: 0 0 0;
  --shade-r: 0;
  --shade-g: 0;
  --shade-b: 0;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --shade-hover-h: 0;
  --shade-hover-s: 0%;
  --shade-hover-l: 1.15;
  --shade-ultra-light-h: 0;
  --shade-ultra-light-s: 0%;
  --shade-ultra-light-l: 95%;
  --shade-light-h: 0;
  --shade-light-s: 0%;
  --shade-light-l: 85%;
  --shade-medium-h: 0;
  --shade-medium-s: 0%;
  --shade-medium-l: 50%;
  --shade-dark-h: 0;
  --shade-dark-s: 0%;
  --shade-dark-l: 25%;
  --shade-ultra-dark-h: 0;
  --shade-ultra-dark-s: 0%;
  --shade-ultra-dark-l: 10%;
  --shade-comp-h: 180;
  --white: #fff;
  --black: #000;
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --white-trans-10: rgba(0, 0, 0, 0.1);
  --white-trans-20: rgba(0, 0, 0, 0.2);
  --white-trans-30: rgba(0, 0, 0, 0.3);
  --white-trans-40: rgba(0, 0, 0, 0.4);
  --white-trans-50: rgba(0, 0, 0, 0.5);
  --white-trans-60: rgba(0, 0, 0, 0.6);
  --white-trans-70: rgba(0, 0, 0, 0.7);
  --white-trans-80: rgba(0, 0, 0, 0.8);
  --white-trans-90: rgba(0, 0, 0, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --white: #fff;
  --black: #000;
  --success: #29A745;
  --success-light: #c1f0cc;
  --success-dark: #0f3e19;
  --success-hover: #2fc24f;
  --danger: #DC3545;
  --danger-light: #f4bec3;
  --danger-dark: #410b11;
  --danger-hover: #e35a67;
  --warning: #FFC10A;
  --warning-light: #ffecb3;
  --warning-dark: #4d3900;
  --warning-hover: #ffcc32;
  --info: #18A2B8;
  --info-light: #bbeef6;
  --info-dark: #093c44;
  --info-hover: #1cbcd5;
  --text-xs: 1.3rem;
  --text-s: 1.4rem;
  --text-m: 1.8rem;
  --text-l: 2rem;
  --text-xl: 2.3rem;
  --text-xxl: 2.6rem;
  --h6: 1.3rem;
  --h5: 1.4rem;
  --h4: 1.8rem;
  --h3: 2rem;
  --h2: 2.3rem;
  --h1: 2.6rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --width-xs: calc((136.6 * 0.1) * 1rem);
  --width-s: calc((136.6 * 0.2) * 1rem);
  --width-m: calc((136.6 * 0.4) * 1rem);
  --width-l: calc((136.6 * 0.6) * 1rem);
  --width-xl: calc((136.6 * 0.8) * 1rem);
  --width-xxl: calc((136.6 * 0.9) * 1rem);
  --width-vp-max: 136.6rem;
  --width-50: calc((136.6 / 2) * 1rem);
  --width-full: 100%;
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: 1fr 2fr;
  --grid-1-3: 1fr 3fr;
  --grid-2-1: 2fr 1fr;
  --grid-2-3: 2fr 3fr;
  --grid-3-1: 3fr 1fr;
  --grid-3-2: 3fr 2fr;
  --grid-auto-2: repeat(auto-fit, minmax(min(43.6789297659rem, 100vw - 6rem), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(32.7318295739rem, 100vw - 6rem), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(26.1723446894rem, 100vw - 6rem), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(21.8030050083rem, 100vw - 6rem), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(18.6838340486rem, 100vw - 6rem), 1fr));
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
  --section-padding-x: 2.4rem;
  --section-gutter: 2.4rem;
  --btn-border-size: 0.25rem;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-y: 0.75em;
  --btn-pad-x: 1.5em;
  --btn-radius: 0;
  --btn-text-transform: none;
  --btn-text-style: normal;
  --btn-letter-spacing: 0;
  --btn-line-height: 1;
  --btn-text-decoration: none;
  --btn-text-color: var(--action-ultra-light);
  --btn-hover-text-color: var(--action-ultra-light);
  --btn-weight: 400;
  --btn-width: 20rem;
  --success-hex: #29A745;
  --success-rgb: 41 167 69;
  --success-hsl: 133 61% 41%;
  --success-h: 133;
  --success-s: 61%;
  --success-l: 41%;
  --success-r: 41;
  --success-g: 167;
  --success-b: 69;
  --danger-hex: #DC3545;
  --danger-rgb: 220 53 69;
  --danger-hsl: 354 70% 54%;
  --danger-h: 354;
  --danger-s: 70%;
  --danger-l: 54%;
  --danger-r: 220;
  --danger-g: 53;
  --danger-b: 69;
  --warning-hex: #FFC10A;
  --warning-rgb: 255 193 10;
  --warning-hsl: 45 100% 52%;
  --warning-h: 45;
  --warning-s: 100%;
  --warning-l: 52%;
  --warning-r: 255;
  --warning-g: 193;
  --warning-b: 10;
  --info-hex: #18A2B8;
  --info-rgb: 24 162 184;
  --info-hsl: 188 77% 41%;
  --info-h: 188;
  --info-s: 77%;
  --info-l: 41%;
  --info-r: 24;
  --info-g: 162;
  --info-b: 184;
  --header-height: 0rem;
  --offset: 0rem;
  --paragraph-spacing: 1em;
  --heading-spacing: 1.5em;
  --h1-lh: 1.2;
  --h2-lh: 1.2;
  --h3-lh: 1.2;
  --h4-lh: 1.2;
  --h5-lh: 1.2;
  --h6-lh: 1.2;
  --h1-length: 100%;
  --h2-length: 100%;
  --h3-length: 100%;
  --h4-length: 100%;
  --h5-length: 100%;
  --h6-length: 100%;
  --text-xxl-lh: 1.75;
  --text-xl-lh: 1.75;
  --text-l-lh: 1.75;
  --text-m-lh: 1.75;
  --text-s-lh: 1.75;
  --text-xs-lh: 1.75;
  --text-xxl-length: ;
  --text-xl-length: ;
  --text-l-length: ;
  --text-m-length: ;
  --text-s-length: ;
  --text-xs-length: ;
  --box-shadow-m: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-l: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
}
@media (max-width: 991px) {
  :root {
    --header-height: 0rem;
    --header-height-l: 0rem;
    --offset-l: 0rem;
  }
}
@media (max-width: 767px) {
  :root {
    --header-height: 0rem;
    --header-height-m: 0rem;
    --offset-m: 0rem;
  }
}
@media (max-width: 479px) {
  :root {
    --header-height: 0rem;
    --header-height-s: 0rem;
    --offset-s: 0rem;
  }
}
