/* 
 * ---------------------------------------------
 * Variables > General
 * --------------------------------------------- 
 */
/* 
 * ---------------------------------------------
 * Variables > Breakpoints
 * ---------------------------------------------
 */
/*
 * ------------------------------------------------
 * Footer
 * ------------------------------------------------
 */
.wa-footer {
  color: var(--white);
}
.wa-footer-container {
  flex-direction: column;
  column-gap: var(--space-m);
  row-gap: var(--space-m);
}
@media (min-width: 768px) {
  .wa-footer-container {
    flex-direction: row;
  }
  .wa-footer-container > div:not(:first-child) {
    margin-left: auto;
  }
}
.wa-footer-copyright {
  color: var(--white);
  line-height: 1.325;
}
.wa-footer-created-by-text a {
  color: var(--white) !important;
}
.wa-footer-created-by-text a:hover {
  text-decoration: underline;
}
.wa-footer-created-by-text a span {
  color: #4EACFF;
}
.wa-footer a {
  color: var(--white);
}
.wa-footer a:hover {
  color: var(--white);
}
.wa-footer .wa-contact-info .wa-infobox {
  align-items: center;
}
/*
 * ------------------------------------------------
 * Header
 * ------------------------------------------------
 */
.wa-header-navigation ul {
  column-gap: var(--space-l);
}
.wa-header-navigation li {
  margin: 0;
}
:root {
  --site-container-width: 1366px;
  --site-container-gutter: var(--space-s);
  --primary-gradient: linear-gradient(270deg, var(--primary) -10%, hsl(var(--primary-dark-h), var(--primary-dark-s), 35%) 100%);
}
.wa-section {
  --section-offset: 0px;
  --section-offset-y: 0px;
  position: relative;
  margin-top: var(--section-offset-y);
}
.wa-section-container {
  gap: var(--space-m);
}
@media (min-width: 992px) {
  .wa-section-container {
    gap: var(--space-l);
    flex-flow: row nowrap;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .wa-section-container {
    flex-flow: row nowrap;
    align-items: center;
  }
}
@media (min-width: 1366px) {
  .wa-section-container {
    gap: var(--space-xl);
  }
}
.wa-section-image {
  --image-offset: 0;
  --image-width: 100%;
  --image-radius: var(--radius-m);
  position: relative;
  width: var(--image-width);
  background: var(--secondary-light-trans-30);
  border-radius: var(--image-radius);
  overflow: hidden;
}
.wa-section-image--left {
  left: var(--image-offset);
  margin-right: var(--image-offset);
}
.wa-section-image--right {
  right: var(--image-offset);
  margin-left: var(--image-offset);
}
.wa-section-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .wa-section-image {
    max-width: 60vw;
  }
}
@media (min-width: 992px) {
  .wa-section-image {
    --image-offset: calc(var(--site-container-gutter) * -1);
    --image-width: 100%;
  }
  .wa-section-image--left {
    --image-radius: 0 var(--radius-m) var(--radius-m) 0;
  }
  .wa-section-image--right {
    --image-radius: var(--radius-m) 0 0 var(--radius-m);
  }
}
@media (min-width: 1366px) {
  .wa-section-image {
    --image-offset: calc((((100vw - var(--site-container-width)) / 2) + var(--section-offset))* -1 + 7.5px);
    --image-width: clamp(100rem, 100vw, 250rem);
  }
}
.wa-section--dark {
  background: var(--secondary);
  color: var(--white);
}
/*
 * ------------------------------------------------
 * CSS | Global
 * ------------------------------------------------
 */
/*
 * ------------------------------------------------
 * Resets, gutters
 * ------------------------------------------------
 */
body section.brxe-section, body header.brxe-section, body .wa-header-topbar__wrapper.brxe-section, body footer.brxe-section {
  padding-left: var(--site-container-gutter);
  padding-right: var(--site-container-gutter);
}
html {
  overflow-x: auto;
}
body {
  min-width: 320px;
}
/*
 * ------------------------------------------------
 * Headings
 * ------------------------------------------------
 */
.wa-heading {
  --font-size: calc(var(--text-xl) * 1.15);
  --indicator-width: 7rem;
  --indicator-height: 0.75rem;
  --indicator-spacing: 1.15rem;
  position: relative;
  padding-bottom: calc(var(--indicator-height) + var(--indicator-spacing));
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.25;
}
.wa-heading--light {
  color: var(--white);
}
@media (min-width: 992px) {
  .wa-heading {
    line-height: 1.15;
    --font-size: calc(var(--text-xl) * 1.25);
  }
}
@media (min-width: 1366px) {
  .wa-heading {
    --font-size: calc(var(--text-xl) * 1.45);
  }
}
.wa-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--primary);
  width: var(--indicator-width);
  border-radius: var(--radius-m);
  height: var(--indicator-height);
}
/*
 * ------------------------------------------------
 * Text
 * ------------------------------------------------
 */
.wa-text--dot::after {
  content: '.';
  font-size: inherit;
  color: var(--primary);
}
/*
 * ------------------------------------------------
 * Button
 * ------------------------------------------------
 */
.wa-button {
  font-size: var(--text-m) !important;
  padding: calc(var(--space-xs) * 0.55) !important;
  font-weight: 500;
  font-family: Lato, 'Open Sans', sans-serif;
}
.wa-button:hover {
  box-shadow: 0 0.25rem 1.25rem var(--primary-trans-20);
}
.wa-button--primary {
  background: var(--primary-gradient);
  background-size: 125%;
  background-position: 0% center;
  color: var(--white);
}
.wa-button--primary:hover {
  background-position: 75% center;
}
.wa-button--secondary {
  border-color: var(--primary);
  color: var(--primary);
}
.wa-button--secondary:hover {
  background: var(--primary) !important;
  color: var(--white) !important;
}
.wa-button--s {
  font-size: calc(var(--text-s) * 1.325) !important;
  padding: calc(var(--space-s) * 0.35) calc(var(--space-s) * 0.75) !important;
}
.wa-button--m {
  font-size: var(--text-m) !important;
  padding: calc(var(--space-m) * 0.35) calc(var(--space-m) * 0.75) !important;
}
.wa-button--l {
  font-size: var(--text-l) !important;
  padding: calc(var(--space-l) * 0.35) calc(var(--space-l) * 0.75) !important;
}
.wa-gradient--primary {
  background: var(--primary-gradient);
}
/*
 * ------------------------------------------------
 * Infobox
 * ------------------------------------------------
 */
.wa-infobox {
  --icon-size: 3.5rem;
  display: flex;
  align-items: flex-start;
  gap: var(--space-xs);
  width: fit-content;
}
@media (min-width: 480px) {
  .wa-infobox {
    --icon-size: 4.5rem;
    flex-flow: row nowrap;
  }
}
.wa-infobox-content {
  display: flex;
  flex-direction: column;
}
.wa-infobox-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-gradient);
  border-radius: var(--radius-m);
  padding: calc(var(--space-xs)*0.75);
}
/*# sourceMappingURL=6-partials.map */
