@import '_16.scss'; 

.wa-section {
	@media (max-width: $breakpoint-max-lg) {
		padding-top: calc( var(--section-padding-x) * 2 );
		padding-bottom: calc( var(--section-padding-x) * 2 );
	}
	@media (max-width: $breakpoint-max-md) {
		padding-top: calc( var(--section-padding-x) * 1.75 );
		padding-bottom: calc( var(--section-padding-x) * 1.75 );
	}
}

/*
 * ------------------------------------------------
 * Section | Hero
 * ------------------------------------------------
 */
.wa-section--hero {
	--height: 60rem;
	--padding-y: var(--space-l);
	--content-offset: 0;

	height: var(--height);
	min-height: 50vh;

	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: var(--padding-y);
	padding-bottom: var(--padding-y);

	&::before {
		content: '';
		background: var(--secondary-trans-40);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}

	@media (min-width: $breakpoint-min-lg) {
		&::before {
			content: unset;
		}

		background-size: contain;
		--content-offset: 25rem;
		--padding-y: var(--space-xl);
	}
}

.wa-hero {
	&-heading {
		display: inline-block;
		font-size: calc(var(--text-xl) * 1.75);
		font-weight: 700;
		line-height: 1.1;
		color: var(--white);
		
		@media (min-width: $breakpoint-min-md) {
			font-size: calc(var(--text-xl) * 2);
		}
	}
	&-content {
		z-index: 1;
	}
	&-text {
		padding-right: var(--content-offset);
	}
}

/*
 * ------------------------------------------------
 * Section | About
 * ------------------------------------------------
 */
.wa-section--about {
	.wa-section-image {
		@media (min-width: $site-container-width) {
			--image-width: clamp(100rem, 100vw, 200rem);
		}
	}

	@media (min-width: $breakpoint-min-lg) {
		.wa-section-container {
			padding-left: var(--section-offset);
		}
	}
}

/*
 * ------------------------------------------------
 * Section | Heat pump
 * ------------------------------------------------
 */
.wa-section--heat-pump {

	@media (min-width: $breakpoint-max-lg) {
		margin-left: calc(var(--section-offset) * -1);
		border-radius: 0 var(--radius-m) var(--radius-m) 0;
	}

	@media (min-width: $site-container-width) {
		--section-offset: 150px;

		.wa-section-image {
			--image-width: clamp(100rem, 100vw, 175rem);
		}
	}

	.wa-section-container {
		padding-left: var(--section-offset);
	}
}

/*
 * ------------------------------------------------
 * Section | Services
 * ------------------------------------------------
 */
 .wa-services-list {
	display: grid;
	gap: var(--space-m);
	grid-template-columns: 1fr;
	
	@media (min-width: $breakpoint-min-md) {
		grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
	}
}

.wa-service-card {
	--card-padding: calc(var(--space-l)*0.75);

	padding: var(--card-padding);
	height: 100%;

	@media (min-width: $breakpoint-min-md) {
		--card-padding: calc(var(--space-l)*0.85);
	}

	&-header {

	}

	&-content {

	}

	&__icon {
		width: auto;
		height: 4rem;
	}

	&__heading {
		font-size: calc(var(--text-l)*0.9);
		font-weight: 600;
		line-height: 1.35;
	}
	
	&__text {
		font-size: calc(var(--text-m)*0.95);
	}
}
